<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Drone in Lund</title>
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    function Submit() {
      var from_addr = document.getElementById('faddr').value;
      var to_addr = document.getElementById('taddr').value;
      var data = {
        "faddr": from_addr,
        "taddr": to_addr,
      }
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          try {
            var resp = this.responseText;
            alert(resp);
          }
          catch (err) {
            alert(this.responseText);
          }
        }
      };
      xhttp.open("POST", "/planner/planner", true);
      xhttp.send(JSON.stringify(data));
    }
    function SubmitSms() {
      var data = {
        "phonenr": document.getElementById("phonenr").value,
      }
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          try {
            var resp = this.responseText;
            alert(resp);
          }
          catch (err) {
            alert(this.responseText);
          }
        }
      };
      xhttp.open("POST", "/send_sms", true);
      xhttp.send(JSON.stringify(data));
    }
  </script>
  <script type="text/javascript">
    function DispatchDrone() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          try {
            var resp = this.responseText;
            alert(resp);
          }
          catch (err) {
            alert(this.responseText);
          }
        }
      };
      xhttp.open("POST", "/planner/phone_planner", true);
      xhttp.send(JSON.stringify({ lat: window.phone_position.lat, long: window.phone_position.long }));
    }
    function LoadPhone(x, y) {
      // return
      var doc = document.getElementById("map");
      $(doc).ready(function () {
        var doc_svg = doc.getSVGDocument();
        var svg = doc_svg.getElementById("map-svg");

        var svg_g = doc_svg.getElementById("map-svg-g")
        if (!svg_g) {
          // If the container doesn't exist, create one
          svg_g = doc_svg.createElementNS("http://www.w3.org/2000/svg", "g");
          svg_g.setAttributeNS(null, 'id', 'map-svg-g');
          svg.appendChild(svg_g);
        }

        var phoneLine1 = svg.getElementById("phoneLine1")
        var phoneLine2 = svg.getElementById("phoneLine2")

        const color = "#ff9900"

        if (phoneLine1 == null) {
          phoneLine1 = doc_svg.createElementNS("http://www.w3.org/2000/svg", "line");
          phoneLine1.setAttributeNS(null, 'x1', x - 7);
          phoneLine1.setAttributeNS(null, 'y1', y - 7);
          phoneLine1.setAttributeNS(null, 'x2', x + 7);
          phoneLine1.setAttributeNS(null, 'y2', y + 7);
          phoneLine1.setAttributeNS(null, 'stroke', color);
          phoneLine1.setAttributeNS(null, 'stroke-width', '2');
          phoneLine1.setAttributeNS(null, 'id', "phoneLine1");

          phoneLine2 = doc_svg.createElementNS("http://www.w3.org/2000/svg", "line");
          phoneLine2.setAttributeNS(null, 'x1', x - 7);
          phoneLine2.setAttributeNS(null, 'y1', y + 7);
          phoneLine2.setAttributeNS(null, 'x2', x + 7);
          phoneLine2.setAttributeNS(null, 'y2', y - 7);
          phoneLine2.setAttributeNS(null, 'stroke', color);
          phoneLine2.setAttributeNS(null, 'stroke-width', '2');
          phoneLine2.setAttributeNS(null, 'id', "phoneLine2");

          svg_g.appendChild(phoneLine1);
          svg_g.appendChild(phoneLine2);
        }
        else {
          phoneLine1.setAttributeNS(null, 'x1', x - 7);
          phoneLine1.setAttributeNS(null, 'y1', y - 7);
          phoneLine1.setAttributeNS(null, 'x2', x + 7);
          phoneLine1.setAttributeNS(null, 'y2', y + 7);

          phoneLine2.setAttributeNS(null, 'x1', x - 7);
          phoneLine2.setAttributeNS(null, 'y1', y + 7);
          phoneLine2.setAttributeNS(null, 'x2', x + 7);
          phoneLine2.setAttributeNS(null, 'y2', y - 7);
        }
      })
    }
    function LoadDrone(droneID, x, y, status) {
      var doc = document.getElementById("map");
      document.getElementById("phone-position-span").innerText = `${window.phone_position?.lat}, ${window.phone_position?.long}`
      $(doc).ready(function () {
        var doc_svg = doc.getSVGDocument();
        var svg = doc_svg.getElementById("map-svg");
        var circleNode = svg.getElementById(droneID);

        var svg_g = doc_svg.getElementById("map-svg-g")
        if (!svg_g) {
          // If the container doesn't exist, create one
          svg_g = doc_svg.createElementNS("http://www.w3.org/2000/svg", "g");
          svg_g.setAttributeNS(null, 'id', 'map-svg-g');
          svg.appendChild(svg_g);
        }

        var color = 'red';
        if (status == 'idle') {
          color = 'green'
        }
        if (status == 'waiting') {
          color = 'yellow'
        }
        if (circleNode == null) {
          circleNode = doc_svg.createElementNS("http://www.w3.org/2000/svg", "circle");
          circleNode.setAttributeNS(null, 'cx', x);
          circleNode.setAttributeNS(null, 'cy', y);
          circleNode.setAttributeNS(null, 'r', '5');
          circleNode.setAttributeNS(null, 'fill', color);
          circleNode.setAttributeNS(null, 'id', droneID);
          svg_g.appendChild(circleNode);
        }
        else {
          circleNode.setAttributeNS(null, 'cx', x);
          circleNode.setAttributeNS(null, 'cy', y);
          circleNode.setAttributeNS(null, 'fill', color);
        }
      })
    }
  </script>
  <style>
    #control-container {
      display: flex;
      flex-direction: row;
    }
  </style>
</head>

<body>
  <h1>Spark super secret drone controller page</h1>
  <div id="control-container">
    <div>
      <fieldset style="width:270px">
        <legend>Automatic Location</legend>
        <form action="javascript:SubmitSms()">
          <label for="phonenr">Phone Number:</label><br>
          <input id="phonenr">
          <input type="submit" value="Send SMS">
          <p>Phone Location: <br><span id="phone-position-span"></span></p>
        </form>
        <button onclick="DispatchDrone()">!!! Dispatch drone to phone location !!!</button>
      </fieldset>
      <fieldset style="width:270px">
        <legend>Manual Location</legend>
        <form action="javascript:Submit()">
          <div id="txt"></div>
          <!-- <label for="fname">From address:</label><br>
          <input type="text" id="faddr" name="faddr"><br> -->
          <label for="lname">Address:</label><br>
          <input type="text" id="taddr" name="taddr"><br><br>
          <input type="submit" value="!!! Dispatch drone to address !!!">
        </form>
      </fieldset>
    </div>
    <div>
      <object id="map" data="static/images/lund-map.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <script>
    var set_delay = 50,
      callout = function () {
        $.ajax({
          url: '/callout'
        })
          .done(function (server_response) {
            var avalaible_drones = Object.keys(server_response.drones)
            for (const droneID of avalaible_drones) {
              var x = server_response["drones"][droneID].longitude
              var y = server_response["drones"][droneID].latitude
              var status = server_response["drones"][droneID].status
              LoadDrone(droneID, x, y, status)
            }
            let phone_svg = server_response.phone_svg
            if (phone_svg) {
              window.phone_position = server_response.phone_latlong
              LoadPhone(phone_svg.x, phone_svg.y)
            }
          })
          .always(function (server_response) {
            setTimeout(callout, set_delay);
          });
      };
    callout();    
  </script>


</body>

</html>